# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
Code/P-O-CW/.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Code/P-O-CW/hs_err_pid*


# Created by https://www.gitignore.io/api/java,maven,eclipse,intellij

### Eclipse ###

.metadata
Code/P-O-CW/bin/
Code/P-O-CW/tmp/
*.tmp
*.bak
*.swp
*~.nib
Code/P-O-CW/local.properties
Code/P-O-CW/.settings/
Code/P-O-CW/.loadpath
Code/P-O-CW/.recommenders

# External tool builders
Code/P-O-CW/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
Code/P-O-CW/.cproject

# Java annotation processor (APT)
Code/P-O-CW/.factorypath

# PDT-specific (PHP Development Tools)
Code/P-O-CW/.buildpath

# sbteclipse plugin
Code/P-O-CW/.target

# Tern plugin
Code/P-O-CW/.tern-project

# TeXlipse plugin
Code/P-O-CW/.texlipse

# STS (Spring Tool Suite)
Code/P-O-CW/.springBeans

# Code Recommenders
Code/P-O-CW/.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
Code/P-O-CW/.cache-main
Code/P-O-CW/.scala_dependencies
Code/P-O-CW/.worksheet

### Eclipse Patch ###
# Eclipse Core		
Code/P-O-CW/.project

# JDT-specific (Eclipse Java Development Tools)		
Code/P-O-CW/.classpath

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
Code/P-O-CW/.idea/**/workspace.xml
Code/P-O-CW/.idea/**/tasks.xml
Code/P-O-CW/.idea/dictionaries

# Sensitive or high-churn files:
Code/P-O-CW/.idea/**/dataSources/
Code/P-O-CW/.idea/**/dataSources.ids
Code/P-O-CW/.idea/**/dataSources.xml
Code/P-O-CW/.idea/**/dataSources.local.xml
Code/P-O-CW/.idea/**/sqlDataSources.xml
Code/P-O-CW/.idea/**/dynamic.xml
Code/P-O-CW/.idea/**/uiDesigner.xml

# Gradle:
Code/P-O-CW/.idea/**/gradle.xml
Code/P-O-CW/.idea/**/libraries

# CMake
Code/P-O-CW/cmake-build-debug/

# Mongo Explorer plugin:
Code/P-O-CW/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
Code/P-O-CW/out/

# mpeltonen/sbt-idea plugin
Code/P-O-CW/.idea_modules/

# JIRA plugin
Code/P-O-CW/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Code/P-O-CW/.idea/replstate.xml

# Ruby plugin and RubyMine
Code/P-O-CW/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
Code/P-O-CW/com_crashlytics_export_strings.xml
Code/P-O-CW/crashlytics.properties
Code/P-O-CW/crashlytics-build.properties
Code/P-O-CW/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
Code/P-O-CW/.idea/sonarlint

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
Code/P-O-CW/.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Code/P-O-CW/hs_err_pid*

### Maven ###
Code/P-O-CW/target/
Code/P-O-CW/pom.xml.tag
Code/P-O-CW/pom.xml.releaseBackup
Code/P-O-CW/pom.xml.versionsBackup
Code/P-O-CW/pom.xml.next
Code/P-O-CW/release.properties
Code/P-O-CW/dependency-reduced-pom.xml
Code/P-O-CW/buildNumber.properties
Code/P-O-CW/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/java,maven,eclipse,intellij

Code/P-O-CW/P-O-CW\.iml

Code/P-O-CW/\.idea/misc\.xml

Code/**/*.iml
Code/**/*.xml
Code/P-O-CW/invoer.txt
Code/P-O-CW/invoerOurTB.txt
Code/P-O-CW/invoerProvidedTB.txt
